*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
}
    
h1 {
    font-size: 1.2rem;
    margin: 20px 0 0 15px;
    color: #f4f5f8;
    font-weight: bold;    
}      

.card-sobre {
    background-color: #333b40;
    border: #222428 solid  0.2rem;
    border-radius: 0.5rem;

    ion-card-header {
        padding: 0.6rem 0.6rem 0 0.6rem;

        img {
            border-radius: 0.5rem;
        }
    
        ion-card-title {
            color: #f4f5f8;
            margin: 0.5rem 0 0 0;
            font-weight: 700;
        }
    }
        
    ion-card-content {
        padding: 0 0.6rem 0.6rem 0.6rem;
        text-align: justify;
    }
}

.musicas-populares {
    padding: 0;

        ion-item {
            background-color: #333b40;

            ion-label {
                margin: 0 0 0 0.5rem;
            }
        }
}

.grid-albuns {
    padding: 0;

    ion-row {
        padding: 0;

        ion-col {
            padding: 0;

            ion-card {
                background-color: #333b40;
                border: #222428 solid  0.2rem;
                border-radius: 0.5rem;
            
                ion-card-header {
                    padding: 0.3rem 0.3rem 0 0.3rem;
                    text-align: center;

                    img {
                        border-radius: 0.5rem;
                    }

                    ion-card-title {
                        color:#f4f5f8;
                        font-size: 0.7rem;
                        
                    }
                }
            
                ion-card-content {
                    padding: 0.3rem 0.3rem 0 0.3rem;
                    font-size: 0.6rem;
                }

                .ano {
                    padding-top: 0;
                }
            }   
        }
    }
}