<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Guns N' Roses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="preto-cinza">
  <!-- sobre -->
  <ion-card class="card-sobre">
    <ion-card-header>
      <div class="ion-text-center">
        <img src="assets\imgs\bandas\guns.jpg">
      </div>

      <ion-card-title>Sobre</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Guns N' Roses é uma banda norte-americana de hard rock formada em Los Angeles, Califórnia, em 1985. A banda já
      vendeu mais de 100 milhões de cópias de seus lançamentos em todo o mundo.
    </ion-card-content>
  </ion-card>
  <!--------------------------------------------------------->

  <!-- músicas populares -->
  <div>
    <h1>Músicas Populares</h1>

    <ion-list class="musicas-populares">
      <ion-item lines="full" color="preto-cinza">
        <ion-thumbnail slot="start">
          <img src="assets\imgs\albuns\use-your-illusion-i.jpg">
        </ion-thumbnail>
        <ion-label slot="start">November Rain</ion-label>

        <ion-label>
          <ion-note color="medium">8:56</ion-note>
        </ion-label>

        <ion-icon name="play" slot="end" color="medium"></ion-icon>
      </ion-item>

      <ion-item lines="full" color="preto-cinza">
        <ion-thumbnail slot="start">
          <img src="assets\imgs\albuns\app-for-des.jpg">
        </ion-thumbnail>
        <ion-label slot="start">Sweet Child O' Mine</ion-label>

        <ion-label>
          <ion-note color="medium">5:54</ion-note>
        </ion-label>

        <ion-icon name="play" slot="end" color="medium"></ion-icon>
      </ion-item>

      <ion-item lines="full" color="preto-cinza">
        <ion-thumbnail slot="start">
          <img src="assets\imgs\albuns\app-for-des.jpg">
        </ion-thumbnail>
        <ion-label slot="start">Welcome To The Jungle</ion-label>

        <ion-label>
          <ion-note color="medium">4:32</ion-note>
        </ion-label>

        <ion-icon name="play" slot="end" color="medium"></ion-icon>
      </ion-item>

      <ion-item lines="full" color="preto-cinza">
        <ion-thumbnail slot="start">
          <img src="assets\imgs\albuns\app-for-des.jpg">
        </ion-thumbnail>
        <ion-label slot="start">Paradise City</ion-label>

        <ion-label>
          <ion-note color="medium">6:45</ion-note>
        </ion-label>

        <ion-icon name="play" slot="end" color="medium"></ion-icon>
      </ion-item>

      <ion-item lines="full" color="preto-cinza">
        <ion-thumbnail slot="start">
          <img src="assets\imgs\albuns\use-your-illusion-ii.jpg">
        </ion-thumbnail>
        <ion-label slot="start">Knockin' On Heaven's Door</ion-label>

        <ion-label>
          <ion-note color="medium">5:36</ion-note>
        </ion-label>

        <ion-icon name="play" slot="end" color="medium"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
  <!--------------------------------------------------------->

  <!-- álbuns -->
  <div>
    <h1>Álbuns</h1>

    <ion-grid class="grid-albuns">
      <ion-row class="ion-text-center">
        <ion-col>
          <ion-card>
            <ion-card-header>
              <img src="assets\imgs\albuns\app-for-des.jpg">

              <ion-card-title>Appetite For Destruction</ion-card-title>
            </ion-card-header>

            <ion-card-content>Guns N' Roses</ion-card-content>
            <ion-card-content class="ano">1987</ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <ion-card-header>
              <img src="assets\imgs\albuns\use-your-illusion-i.jpg">

              <ion-card-title>Use Your Illusion I</ion-card-title>
            </ion-card-header>

            <ion-card-content>Guns N' Roses</ion-card-content>
            <ion-card-content class="ano">1991</ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <ion-card-header>
              <img src="assets\imgs\albuns\use-your-illusion-ii.jpg">

              <ion-card-title>Use Your Illusion II</ion-card-title>
            </ion-card-header>

            <ion-card-content>Guns N' Roses</ion-card-content>
            <ion-card-content class="ano">1991</ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!--------------------------------------------------------->
</ion-content>