<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Guns N' Roses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card class="ion-text-center">
    <img src="assets\imgs\bandas\guns.jpg">
  </ion-card>

  <ion-label>
    <div>
      <h1>Álbuns</h1>
    </div>
  </ion-label>

  <ion-grid >
    <ion-row class="ion-text-center" >
      <ion-col>
        <ion-card class="margem-albuns">
          <img src="assets\imgs\albuns\app-for-des.jpg">
          <ion-label>
            <div>
              <h2>Appetite For Destruction</h2>
              <p>Guns N' Roses - 1987</p>
            </div>
          </ion-label>
        </ion-card>
      </ion-col>
  
      <ion-col>
        <ion-card class="margem-albuns">
          <img src="assets\imgs\albuns\use-your-illusion-i.jpg">
          <ion-label>
            <div>
              <h2>Use Your Illusion I</h2>
              <p>Guns N' Roses - 1991</p>
            </div>
          </ion-label>
        </ion-card>
      </ion-col>
  
      <ion-col>
        <ion-card class="margem-albuns">
          <img src="assets\imgs\albuns\use-your-illusion-ii.jpg">
          <ion-label>
            <div>
              <h2>Use Your Illusion II</h2>
              <p>Guns N' Roses - 1991</p>
            </div>
          </ion-label>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>