<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Bon Jovi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card class="ion-text-center">
    <img src="assets\imgs\bandas\bon-jovi.jpg">
  </ion-card>

  <ion-label>
    <div>
      <h1>Álbuns</h1>
    </div>
  </ion-label>

  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col>
        <ion-card class="margem-albuns">
          <img src="assets\imgs\albuns\slip-when-wet.jpg">
          <ion-label>
            <div>
              <h2>Slippery When Wet</h2>
              <p>Bon Jovi - 1986</p>
            </div>
          </ion-label>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="margem-albuns">
          <img src="assets\imgs\albuns\new-jersey.jpg">
          <ion-label>
            <div>
              <h2>New Jersey</h2>
              <p>Bon Jovi - 1988</p>
            </div>
          </ion-label>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="margem-albuns">
          <img src="assets\imgs\albuns\these-days.jpg">
          <ion-label>
            <div>
              <h2>These Days</h2>
              <p>Bon Jovi - 1995</p>
            </div>
          </ion-label>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>