<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Álbuns
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="preto-cinza">
  <ion-searchbar placeholder="Buscar Álbum" color="dark"></ion-searchbar>

  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col>
        <ion-card>
          <img src="assets\imgs\albuns\permanent-vacation.jpg">
          <ion-label>
            <div>
              <h1>Permanent Vacation</h1>
              <p>Aerosmith - 1987</p>
            </div>
          </ion-label>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <img src="assets\imgs\albuns\pump.jpg">
          <ion-label>
            <div>
              <h1>Pump</h1>
              <p>Aerosmith - 1989</p>
            </div>
          </ion-label>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <img src="assets\imgs\albuns\get-a-grip.jpg">
          <ion-label>
            <div>
              <h1>Get A Grip</h1>
              <p>Aerosmith - 1993</p>
            </div>
          </ion-label>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-center">
      <ion-col>
        <ion-card>
          <img src="assets\imgs\albuns\slip-when-wet.jpg">
          <ion-label>
            <div>
              <h1>Slippery When Wet</h1>
              <p>Bon Jovi - 1986</p>
            </div>
          </ion-label>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <img src="assets\imgs\albuns\new-jersey.jpg">
          <ion-label>
            <div>
              <h1>New Jersey</h1>
              <p>Bon Jovi - 1988</p>
            </div>
          </ion-label>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <img src="assets\imgs\albuns\these-days.jpg">
          <ion-label>
            <div>
              <h1>These Days</h1>
              <p>Bon Jovi - 1995</p>
            </div>
          </ion-label>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-center">
      <ion-col>
        <ion-card>
          <img src="assets\imgs\albuns\app-for-des.jpg">
          <ion-label>
            <div>
              <h1>Appetite For Destruction</h1>
              <p>Guns N' Roses - 1987</p>
            </div>
          </ion-label>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <img src="assets\imgs\albuns\use-your-illusion-i.jpg">
          <ion-label>
            <div>
              <h1>Use Your Illusion I</h1>
              <p>Guns N' Roses - 1991</p>
            </div>
          </ion-label>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <img src="assets\imgs\albuns\use-your-illusion-ii.jpg">
          <ion-label>
            <div>
              <h1>Use Your Illusion II</h1>
              <p>Guns N' Roses - 1991</p>
            </div>
          </ion-label>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-center">
      <ion-col>
        <ion-card>
          <img src="assets\imgs\albuns\bleach.jpg">
          <ion-label>
            <div>
              <h1>Bleach</h1>
              <p>Nirvana - 1989</p>
            </div>
          </ion-label>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <img src="assets\imgs\albuns\nevermind.jpg">
          <ion-label>
            <div>
              <h1>Nevermind</h1>
              <p>Nirvana - 1991</p>
            </div>
          </ion-label>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <img src="assets\imgs\albuns\in-utero.jpg">
          <ion-label>
            <div>
              <h1>In Utero</h1>
              <p>Nirvana - 1993</p>
            </div>
          </ion-label>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>