<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="preto-cinza">

  <ion-fab vertical="center" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-tabs>
        <ion-tab-bar color="dark">
          <ion-tab-button tab="tab2">
            <ion-icon name="skull"></ion-icon>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-fab-button>
  </ion-fab>
</ion-content>
