*{
    font-family: Arial, Helvetica, sans-serif;
}

ion-item{
    margin-top: 15px;
    margin-bottom: 15px;

    p{
        font-size: 1rem;
        font-weight: bold;
    }
    
    a{
       text-decoration: none;
    }
}

