<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Desenvolvedor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="preto-cinza">
  <ion-item color="dark">
    <ion-avatar slot="start">
      <img src="https://avatars.githubusercontent.com/u/61015280?v=4">
    </ion-avatar>
    <ion-label class="ion-text-wrap">
      <div>
        <p>
          <ion-icon name="person"></ion-icon> Gabriel José Soto Ravanhan
        </p>

        <p>
          <ion-icon name="school"></ion-icon> Etec Cidade do Livro
        </p>

        <p>
          <ion-icon name="home"></ion-icon> Macatuba - SP
        </p>

        <p>
          <ion-icon name="call"></ion-icon> (14) 99872-4956
        </p>

        <p>
          <ion-icon name="mail"></ion-icon>
          <a href="mailto:gabriel.ravanhan@etec.sp.gov.br">
            gabriel.ravanhan@etec.sp.gov.br
          </a>
        </p>

        <p>
          <ion-icon name="logo-github"></ion-icon>
          <a href="https://github.com/gabrielravanhan">
            gabrielravanhan
          </a>
        </p>
      </div>
    </ion-label>
  </ion-item>

  <ion-item color="dark">
    <ion-label>
      <p>
        Turma
      </p>
    </ion-label>
    <ion-badge slot="end" color="light">A</ion-badge>
  </ion-item>

  <ion-item color="dark">
    <ion-label>
      <p>
        Componente
      </p>
    </ion-label>
    <ion-badge slot="end" color="light">PAM</ion-badge>
  </ion-item>

  <ion-item color="dark">
    <ion-label>
      <p>
        Ano
      </p>
    </ion-label>
    <ion-badge slot="end" color="light">2021</ion-badge>
  </ion-item>

  <ion-item color="dark">
    <ion-label>
      <p>
        Versão do App
      </p>
    </ion-label>
    <ion-badge slot="end" color="light">0.1</ion-badge>
  </ion-item>
</ion-content>