<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Nirvana</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card class="ion-text-center">
    <img src="assets\imgs\bandas\nirvana.jpg">
  </ion-card>

  <ion-label>
    <div>
      <h1>Álbuns</h1>
    </div>
  </ion-label>

  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col>
        <ion-card class="margem-albuns">
          <img src="assets\imgs\albuns\bleach.jpg">
          <ion-label>
            <div>
              <h2>Bleach</h2>
              <p>Nirvana - 1989</p>
            </div>
          </ion-label>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="margem-albuns">
          <img src="assets\imgs\albuns\nevermind.jpg">
          <ion-label>
            <div>
              <h2>Nevermind</h2>
              <p>Nirvana - 1991</p>
            </div>
          </ion-label>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="margem-albuns">
          <img src="assets\imgs\albuns\in-utero.jpg">
          <ion-label>
            <div>
              <h2>In Utero</h2>
              <p>Nirvanai - 1993</p>
            </div>
          </ion-label>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>