<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Aerosmith</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card class="ion-text-center">
    <img src="assets\imgs\bandas\aerosmith.jpg">
  </ion-card>

  <ion-label>
    <div>
      <h1>Álbuns</h1>
    </div>
  </ion-label>

  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col>
        <ion-card class="margem-albuns">
          <img src="assets\imgs\albuns\permanent-vacation.jpg">
          <ion-label>
            <div>
              <h2>Permanent Vacation</h2>
              <p>Aerosmith - 1987</p>
            </div>
          </ion-label>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="margem-albuns">
          <img src="assets\imgs\albuns\pump.jpg">
          <ion-label>
            <div>
              <h2>Pump</h2>
              <p>Aerosmith - 1989</p>
            </div>
          </ion-label>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="margem-albuns">
          <img src="assets\imgs\albuns\get-a-grip.jpg">
          <ion-label>
            <div>
              <h2>Get A Grip</h2>
              <p>Aerosmith - 1993</p>
            </div>
          </ion-label>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>